body{
			
			font-family:sans-serif;
		}
		table{
			width:10%;
			
		}

		td{
			border:1px solid black;
			height:20%;
		
			overflow-x: auto;
		
			padding:10px;
			
		}
		tr{
			height:10px;
			overflow: scroll;
		}
		 
	/*	th{
			margin:auto;
			border: 2px solid black;
			background-color: lightblue;
			padding-top:20px black;
		}*/
		.wrapper{
			width:50%;
			border: 1px solid #000000;
			
			margin-left: 5%;
			margin:5%;
			padding:1em;
				border-radius:10px;

		}
		.updateDiv{
			text-align:center;
				width:50%;
			border: 5px solid #000000;
			
			margin-left: 5%;
			margin:5%;
			padding:1em;
			border-radius:10px;
		}
		.popupUpdate{
			text-align:center;
			width:50%;
			border: 5px solid #000000;
			
			margin-left: 5%;
			margin:5%;
			padding:1em;
			border-radius:10px;
			

		}
		.viewTable{
			width:80%;
			margin:auto;
			border: 5px solid #000000;
			border-radius:10px;
			
			
			/*overflow: auto;
*/

		}
		.viewTable1{
			/*width:50%;*/
			width:50%;
			border: 10px solid #000000;
			
			border-radius:10px;

		}
		#div {
			text-align:center;
			width:80%;
			
			border-radius:10px;
		}